@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot%3F9qvt34');
  src:  url('fonts/icomoon.eot%3F9qvt34') format('embedded-opentype'),
    url('fonts/icomoon.ttf%3F9qvt34') format('truetype'),
    url('fonts/icomoon.woff%3F9qvt34') format('woff'),
    url('fonts/icomoon.svg%3F9qvt34') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-icon:before {
  content: "\e913";
}
.icon-right_carousel_chevron:before {
  content: "\e911";
}
.icon-left_carousel_chevron:before {
  content: "\e912";
}
.icon-moon-logo .path1:before {
  content: "\e926";
  color: rgb(83, 87, 90);
}
.icon-moon-logo .path2:before {
  content: "\e927";
  margin-left: -2.9697265625em;
  color: rgb(237, 28, 36);
}
.icon-moon-logo .path3:before {
  content: "\e928";
  margin-left: -2.9697265625em;
  color: rgb(237, 28, 36);
}
.icon-moon-logo .path4:before {
  content: "\e929";
  margin-left: -2.9697265625em;
  color: rgb(237, 28, 36);
}
.icon-moon-logo .path5:before {
  content: "\e92a";
  margin-left: -2.9697265625em;
  color: rgb(237, 28, 36);
}
.icon-moon-logo .path6:before {
  content: "\e92b";
  margin-left: -2.9697265625em;
  color: rgb(237, 28, 36);
}
.icon-moon-logo .path7:before {
  content: "\e92c";
  margin-left: -2.9697265625em;
  color: rgb(237, 28, 36);
}
.icon-moon-cancel:before {
  content: "\e900";
}
.icon-moon-cart:before {
  content: "\e901";
}
.icon-moon-distributor:before {
  content: "\e902";
}
.icon-moon-down-arrow:before {
  content: "\e903";
}
.icon-moon-facebook .path1:before {
  content: "\e904";
  color: rgb(0, 0, 5);
}
.icon-moon-facebook .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-moon-full_down_arrow:before {
  content: "\e906";
}
.icon-moon-glassdoor:before {
  content: "\e907";
}
.icon-moon-hamburger:before {
  content: "\e908";
}
.icon-moon-heart:before {
  content: "\e909";
}
.icon-moon-instagram:before {
  content: "\e90a";
}
.icon-moon-interested-in-garrett:before {
  content: "\e90b";
}
.icon-moon-left-arrow:before {
  content: "\e90c";
}
.icon-moon-linkedin .path1:before {
  content: "\e90d";
  color: rgb(0, 0, 5);
}
.icon-moon-linkedin .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-moon-linkedin .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-moon-linkedin .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-moon-magnfier-menu:before {
  content: "\e918";
}
.icon-moon-magnifier_search:before {
  content: "\e919";
}
.icon-moon-mail:before {
  content: "\e91a";
}
.icon-moon-oem:before {
  content: "\e91b";
}
.icon-moon-performance:before {
  content: "\e91c";
}
.icon-moon-right-arrow:before {
  content: "\e91d";
}
.icon-moon-up-arrow:before {
  content: "\e91e";
}
.icon-moon-user:before {
  content: "\e91f";
}
.icon-moon-user_checkmark .path1:before {
  content: "\e920";
  color: rgb(0, 0, 5);
}
.icon-moon-user_checkmark .path2:before {
  content: "\e921";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 5);
}
.icon-moon-user_checkmark .path3:before {
  content: "\e922";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 0);
}
.icon-moon-vehicle-owner:before {
  content: "\e923";
}
.icon-moon-youtube .path1:before {
  content: "\e924";
  color: rgb(0, 0, 5);
}
.icon-moon-youtube .path2:before {
  content: "\e925";
  margin-left: -1.4287109375em;
  color: rgb(255, 255, 255);
}
